<h1> Student Profile </h1>

Name: <%= @student.name %><br>
Email: <%= @student.email %><br>
Bio: <%= @student.bio %><br>
Field: <%= @student.field %><br>
Status: <% if @student.mentor_id != nil %>
        <%= "Matched with " + Mentor.find(@student.mentor_id).name.to_s%>
        <% else %>
        <%= "Matching in progress" %>
        <% end %>


<br>
<div>
<h4>If you would like to end a mentoring relationship, please contact us <a href="mailto:zachary.young@yale.edu?Subject=Delete%20MentorNH%20Relationship">here</a>.</h4>
</div>