<div class="header">
  <%= image_tag('logo.png', :class=>"signupimg") %>
  <div id="supttl">MENTOR</div>
  <div id="supsub">SIGN UP</div>
</div>
<div class="content">
  <%= form_for(@mentor) do |f| %>
    <div class="field">
      <%= f.text_field :name, placeholder: "name" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :email, placeholder: "email" %>
    </div>
    <br>
    <div class="field">
      <%= f.select :field, options_for_select([["Select One", ""], "Financial Services", "Education", "Consulting", "Research", "Computer Science", "Publishing/Media/Journalism", "Healthcare", "Fine/Performing Arts", "Public Policy/Politics", "Law", "Communications", "Architecture", "Design", "Retail", "Medicine", "Entertainment/Professional Sports", "Environment"]), :class => "field_dropdown" %>
    </div>
    <br>

    <%= f.submit %>
  <% end %>
</div>