<%= link_to image_tag('logo.png', :class=>"signupimg"), root_path %>
<div class="profile">
<h1> MENTOR PROFILE </h1>
<b>NAME:</b> <%= @mentor.name %><br>
<b>EMAIL:</b> <%= @mentor.email %><br>
<b>BIO:</b> <%= @mentor.bio %><br>
<b>FIELD:</b> <%= @mentor.field %><br>
<b>STATUS:</b> 
<% if Student.all.find_by(mentor_id: @mentor.id) != nil %>
	<% relevant_students = Array.new %>
    Matched with <% Student.all.where(mentor_id: @mentor.id).each do |student| %>
      <%= link_to student.name, student_path(student.id) %>&nbsp;&nbsp;&nbsp;
    <% end %>
<% else %>
    <%= "Matching in progress" %>
<% end %>

<br>
<div>
<h4>If you would like to end a mentoring relationship, please contact us <a href="mailto:zachary.young@yale.edu?Subject=Delete%20MentorNH%20Relationship">here</a>.</h4>
</div>

</div>
